div(class="ent101-form-widget-wrapper")
  div(class="ent101-widget-content")
    button(mat-mini-fab, (click)="getByLocation()")
      mat-icon person_pin_circle
    form(class="ent101-form-full-width")
      mat-form-field(class="ent101-input-full-width")
        input(#cityNameInputRef, matInput, type="text", id="cityName", [(ngModel)]="cityName", name="cityName", (keyup.enter)="getWeather()")
      mat-select(#cityIdRef, [(ngModel)]="cityId", name="cityId", (selectionChange)="dropdownChanged(cityIdRef.value)")
        mat-option(*ngFor="let city of cities", [value]="city.id") {{city.name}} {{city.sys.country}}
    ng-container(*ngIf="showError")
      h1 {{errorMsg}}
    ng-container(*ngIf="showData")
      h1(class="etn101-text-center") {{weatherData?.name}}
      div(class="ent101-weather-icon etn101-text-center")
        img(src="http://openweathermap.org/img/wn/{{weatherData?.weather[0].icon}}@2x.png")
      h2(class="etn101-text-center") {{weatherData?.weather[0].description}}
      dl(class="ent101-param-list")
        dt(class="ent101-param-name") Wind speed
        dd(class="ent101-param-context") {{weatherData?.wind.speed}} м/с
        dt(class="ent101-param-name") Temperature
        dd(class="ent101-param-context") {{weatherData?.main.temp}} &deg;C
        dt(class="ent101-param-name") Feels like
        dd(class="ent101-param-context") {{weatherData?.main.feels_like}} &deg;C
        dt(class="ent101-param-name") Minimum temperature
        dd(class="ent101-param-context") {{weatherData?.main.temp_min}} &deg;C
        dt(class="ent101-param-name") Maximum temperature
        dd(class="ent101-param-context") {{weatherData?.main.temp_max}} &deg;C
        dt(class="ent101-param-name") Pressure
        dd(class="ent101-param-context") {{weatherData?.main.pressure}} hPa
        dt(class="ent101-param-name") Humidity
        dd(class="ent101-param-context") {{weatherData?.main.humidity }} %
  div(class="ent101-buttons-row")
    button(mat-stroked-button, class="ent101-basic-button",(click)="getWeather()") Send
